@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f2f2f2
}

@font-face{
  font-family: 'RusticaBlack';
  src: url('../public/fonts/RusticaBlack.ttf');
  font-style:normal;
}

@font-face{
  font-family: 'RusticaBlack';
  src: url('../public/fonts/RusticaBlack.ttf');
  font-style:normal;
}

@font-face{
  font-family: 'RusticaB';
  src: url('../public/fonts/RusticaBold.ttf');
  font-style: bold;
}

@font-face{
  font-family: 'RusticaL';
  src: url('../public/fonts/RusticaLight.ttf');
  font-style:normal;
}

@font-face{
  font-family: 'RusticaM';
  src: url('../public/fonts/RusticaMedium.ttf');
  font-style: bold;
}

@font-face{
  font-family: 'RusticaSL';
  src: url('../public/fonts/RusticaSemiLight.ttf');
  font-style:normal;
}